@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    São Paulo - SP <br />    
    <abbr title="Phone">P:</abbr>
    11 99999-9999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Rodrigo.Oliveiras@outlook.com">Rodrigo.Oliveiras@outlook.com</a><br />    
</address>